<form
  action="https://buttondown.com/api/emails/embed-subscribe/russelldchubb"
  method="post"
  class="embeddable-buttondown-form subscribe-shortcode"
>
  <div class="subscribe-shortcode__content">
    <p class="subscribe-shortcode__eyebrow">
      Would you like to stay updated on what I've been up to?
    </p>

    <p class="subscribe-shortcode__description">
      Every now and then, I'll send you an email about something I've built, learned, or found interesting.
    </p>

    <div class="subscribe-shortcode__description">
    <p>Email topics range from:</p>

    <ul>
        <li>Programming</li>
        <li>Cooking</li>
        <li>Thinking</li>
        <li>Data</li>
    </ul>

    <p><b>or</b>, anything else that catches my eye! 👀</p>
    </div>

    <p class="subscribe-shortcode__description">
      <b>I promise I won't spam you</b>, and you can unsubscribe at any time. (NOTE: I send emails at a cadence of about once a month.)
    </p>

    <label class="subscribe-shortcode__label" for="bd-email">
      Join the list 👇
    </label>

    <div class="subscribe-shortcode__controls">
      <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="you@example.com"
        required
      />
      <input type="submit" value="Subscribe" />
    </div>
  </div>
</form>